<div class="columns pt4 pb7">
  <div class="column is-7 is-offset-1">

    <p class="f7"><i class="fa fa-clock"></i> Posted <%= time_ago_in_words(@job.created_at) %> ago</p>
    <h1 class="title is-2"><%= @job.title %></h1>

    <ul class="list pb4">
      <li class="inline-block f6 pr2"><%= job_type(@job.job_type) %></li>
      <li class="inline-block f6 ph2"><i class="fa fa-pin"></i> <%= @job.location %></li>
      <% if @job.remote_ok? %>
        <li class="inline-block f6 ph2"><i class="fa fa-wifi"></i> Remote Job</li>
      <% end %>
    </ul>

    <div class="content text-serif f4">
      <%= @job.description.html_safe %>
    </div>
    
    <div>
      <% if user_signed_in? %>
        <% if current_user.user_type == "Employee"%>
          <%= link_to 'Apply to this job', @job.apply_url, class:"button is-rounded is-large is-fullwidth is-link" %>
        <% end %>
      <% else %>
        <u> <b>NOTICE:</b> If you're looking for a job and wanted to apply for this job you must <%= link_to "Sign In", new_user_session_path %> or <%= link_to "Sign up", new_user_registration_path %> !</u>
      <% end %>
    </div>

  </div>

  <div class="column is-2 is-offset-1 has-text-centered">

    <% if !@job.avatar.file.nil? %>
      <%= link_to image_tag(@job.avatar_url(:thumb), alt: @job.job_author, class: "has-text-centered"), @job.url %>
    <% end %>

    <h5 class="is-5 has-text-centered"><%= link_to @job.job_author, @job.url %></h5>

    <div class="mt2 mb4">
    <%= link_to @job.url do %>
      <i class="fa fa-globe"></i>
    <% end %>
    </div>

    <% if current_user.try(:admin) || job_author(@job) %>
      <ul class="pv3">
        <li class="pv1 f6">Admin controls: </li>
        <li class="pv1 inline-block">
          <%= link_to 'View', @job, class: 'button is-small is-link is-outlined' %></li>
        <li class="pv1 inline-block">
          <%= link_to 'Edit', edit_job_path(@job), class: 'button is-small is-link is-outlined' %></li>
        <li class="pv1 inline-block">
          <%= link_to 'Delete', @job, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button is-small is-link is-outlined' %></li>
      </ul>
    <% end %>

    <% if user_signed_in? && current_user.user_type == "Employee"%>
      <%= link_to 'Apply to this job', @job.apply_url, class:"button is-rounded is-fullwidth is-link" %>
    <hr/>
      <%- unless current_user.favorite_jobs.exists?(id: @job.id) -%>
          <%= link_to favorite_jobs_path(job_id: @job), class: "button is-ghost", method: :post do %><ion-icon name="star-outline" style="font-size: 20px; color: blue"></ion-icon>&nbsp;Add to favorites<% end %>
      <%- else -%>
        <%= link_to favorite_job_path(@job), class: "button is-ghost", method: :delete do %><ion-icon name="star" style="font-size: 20px; color: blue"></ion-icon>&nbsp;Remove from favorites<% end %>
      <%- end -%>
    <%- end %>
    <% if @job.fans.size != 0 %>
      <hr />
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Following</p>
          <p class="title"><%= @job.fans.size %></p>
        </div>
      </div>
    <% end %>
    <br>
    <% if user_signed_in? && job_author(@job) %>
      <div class="card">
        <div class="card-content">
          <div class="content">
            <h5 class="pv1 f8"><ion-icon name="stats-chart" style="font-size: 20px; color: #00c4a7"></ion-icon> &nbsp;Users following this job:</h5>
            <hr />
            <% @job.fans.each do |fan| %>
              <%= mail_to fan.email, class: "button is-ghost" do %><%= fan.name %>&nbsp; | &nbsp; <ion-icon name="mail"></ion-icon><% end %>
          </div>
        </div>
            <% end %>
    <% end %>

    </div>
  </div>
</div>